  <!-- 
<%= form_for(@group) do |f| %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
    <%= f.hidden_field :user_id , :value=>current_user.id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %> -->

  <%= form_for(@group) do |f|  %>

  <div class="form-group row no-padding text-center col-md-12">
    <div class="col-md-2"></div>

      <div class="col-md-8">

        <%= f.text_field :name , placeholder: 'Enter group name ',

        class: 'form-control search-box input-lg' %>
        <%= f.hidden_field :user_id , :value=>current_user.id %>

      </div>
      <div class="col-md-2">
         <%= button_tag(type: :submit, class: 'btn btn-lg btn-success ') do %>

         Create group
        <% end %>
      </div>
      

      

  </div>

  <% end %>
