<p id="notice"><%= notice %></p>
<%= link_to 'New Order', new_order_path %>
<br>
<h2>Orders</h2>

<table class="table table-striped">
  <thead>
    <tr>

      <th>Order</th>
      <th>Resturants</th>
      <th>Invited</th>
      <th>Joined</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>            
      <tr>
        <td><%= order.for %></td>
        <td><%= order.from %></td>
        <td> <%= OrdersUser.where(order_id: order.id).count %></td>
        <td><%= OrdersUser.where(order_id: order.id).where(is_joined: 1).count %></td>

        <td><%= order.status %></td>
        <td><%= link_to 'View', order %>

        <%= if order.status == "waiting"
		link_to 'Finsih', order , method: :put 
	     end  %> 
       <%= if order.status == "waiting" 
		link_to 'Cancel', order, method: :delete, data: { confirm: 'Are you sure to cancel this order ?'  }
	    end %> </td>
      </tr>

<% end %>
   <% orderJoined =OrdersUser.all.where(user_id: current_user.id).where(is_joined: 1) %>
    <% orderJoined.each do |orders| %>
  
    <% ordersJoined = Order.all.where(id: orders.order_id  ) %>
    <% ordersJoined.each do |orderj| %>
      <tr>
        <td><%= orderj.for %></td>
        <td><%= orderj.from %></td>
        <td> <%= OrdersUser.where(order_id: orderj.id).count %></td>
        <td><%= OrdersUser.where(order_id: orderj.id).where(is_joined: 1).count %></td>

        <td><%= orderj.status %></td>
        <td><%= link_to 'View', orderj %></td>
      </tr>
<% end %>
     <% end %>

  </tbody>
</table>

<br>

<br>

