<p id="notice"><%= notice %></p>

<% orderID = params[:id] %>
<div class="container">
  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">
<% allusers= OrdersUser.where(order_id: orderID).where(is_joined: 1)  %>
<%= OrdersUser.where(order_id: orderID).where(is_joined: 1).count %>       
 Joined: </button>
  <div id="demo" class="collapse">
    <% allusers.each do |user| %>
<% users= User.where(id: user.user_id) %>        
             <% users.each do |user| %>
   <%= user.name %>
<% end %> 
<% end %> 
  </div>
</div>  
        

<div class="container">
  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo2">
<% allusers= OrdersUser.where(order_id: orderID)  %>   
<%= OrdersUser.where(order_id: orderID).count %>  
invited:   </button>
<div id="demo2" class="collapse">
             <% allusers.each do |user| %>
<% users= User.where(id: user.user_id) %>        
             <% users.each do |user| %>
   <%= user.name %>
<% end %> 
<% end %>
 </div>


<h2>Order Details</h2>
<table class="table table-striped">
  <thead>
    <tr>

      <th>Person</th>
      <th>Item</th>
      <th>Amount</th>
      <th>Price</th>
      <th>Comment</th>
      <th>Cancel</th>


    </tr>
  </thead>
  <tbody>

<% @order.order_details.each do |order_detail| %>


<tr><td>
  <% users= User.where(id: order_detail.user_id) %>        
             <% users.each do |user| %>


    <%= user.name %>  
<% end %></td>

   <td> <%= order_detail.item %>  </td>
   <td> <%= order_detail.amount %>  </td>
   <td> <%= order_detail.price %>   </td>
   <td> <%= order_detail.comment %> </td>
         <td><% if current_user.id == order_detail.user_id %> 
           <%=  link_to 'Cancel', order_detail, method: :delete, data: { confirm: 'Are you sure to cancel this order ?'  } %> <% end %></td>
 </tr>

<% end %>

  </tbody>
</table>




<%= form_for([@order, @order.order_details.build]) do|f| %>

<div class="field" style="display:inline;">
    <%= f.label :item %>
    <%= f.text_field :item %>
  </div>
<div class="field" style="display:inline;">
    <%= f.hidden_field :user_id, value:current_user.id  %>
  </div>
  <div class="field" style="display:inline;">
    <%= f.label :price %>
    <%= f.number_field :price %>
  </div>
  <div class="field" style="display:inline;">
    <%= f.label :amount %>
    <%= f.number_field :amount %>
  </div>
  <div class="field" style="display:inline;">
    <%= f.label :comment %>
    <%= f.text_field :comment %>
  </div>
  <div class="actions" style="display:inline;">
    <%= f.submit %>
  </div>

<% end %>
