<p id="notice"><%= notice %></p>
          <div class="col-md-8">
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Order Details</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="table-responsive">

                <table class="table no-margin">
                  <thead>
                  
                  <tr>
                       <th>Person</th>
                        <th>Item</th>
                        <th>Amount</th>
                        <th>Price</th>
                        <th>Comment</th>
                        <th>Cancel</th>
                  </tr>
                  </thead>
                  <tbody>
                    <% @order.order_details.each do |order_detail| %>
                  <tr>
                    <td><% users= User.where(id: order_detail.user_id) %>        
                    <% users.each do |user| %>
                    <%= user.name %>
                    <% end %> </td>
                       <td> <%= order_detail.item %>  </td>
                       <td> <%= order_detail.amount %>  </td>
                       <td> <%= order_detail.price %>   </td>
                       <td> <%= order_detail.comment %> </td>
                             <td><% if current_user.id == order_detail.user_id %> 
                               <%=  link_to 'Cancel', order_detail, method: :delete, data: { confirm: 'Are you sure to cancel this order ?'  } %> <% end %></td>
                  </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
              
            </div>

          </div>
                   <%= form_for([@order, @order.order_details.build]) do|f| %>
<div class="field" style="display:inline;">
    <%= f.text_field :item,:size=>"16", :placeholder => "item" %>
  </div>
<div class="field" style="display:inline;">
    <%= f.hidden_field :user_id, value:current_user.id  %>
  </div>
  <div class="field" style="display:inline;">
    <%= f.number_field :price, :placeholder => "price" %>
  </div>
  <div class="field" style="display:inline;">
    <%= f.number_field :amount, :placeholder => "amount" %>
  </div>
  <div class="field" style="display:inline;">
    <%= f.text_field :comment, :placeholder => "comment" %>
  </div>
  <div class="actions" style="display:inline;">
    <%= f.submit "add" %>
  </div>

<% end %>
        </div>
        <% orderID = params[:id] %>
        <div class="col-md-4">
              <div class="box box-danger">
                <div class="box-header with-border">
                  <h3 class="box-title">Joined Members</h3>

                  <div class="box-tools pull-right">
                    <span class="label label-danger"><% allusers= OrdersUser.where(order_id: orderID).where(is_joined: 1)  %>
                    <%= OrdersUser.where(order_id: orderID).where(is_joined: 1).count %> member/s</span>
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
                    </button>
                  </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">

                  <ul class="users-list clearfix">
                     <% allusers.each do |user| %>
                       <% allusers.each do |user| %>
                      <% users= User.where(id: user.user_id) %>        
                                   <% users.each do |user| %>
                      <li>
                         <img src="../assets/avatar5.png" alt="User Image">
                         <span class="users-list-name"><%= user.name %></span>
                         <span class="users-list-date">Joined</span>
                      </li>
                      <% end %> 
                      <% end %>  
                      <% end %>
                  </ul>
                </div>
              </div>

              <div class="box box-danger">
                <div class="box-header with-border">
                  <h3 class="box-title">Invited Members</h3>

                  <div class="box-tools pull-right">
                    <span class="label label-danger"><% allusers= OrdersUser.where(order_id: orderID)  %>   
                    <%= OrdersUser.where(order_id: orderID).count %> member/s   </span>
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
                    </button>
                  </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">

                  <ul class="users-list clearfix">
                     <% allusers.each do |user| %>
                     <% users= User.where(id: user.user_id) %>        
                     <% users.each do |user| %>
                      <li>
                         <img src="../assets/avatar5.png" alt="User Image">
                         <span class="users-list-name">   <%= user.name %></span>
                         <span class="users-list-date">Invited</span>
                      </li>
                      <% end %> 
                      <% end %>  
                  </ul>
                </div>
                
              </div>
            </div>
