
<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "YallaNotlob" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

   <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>
<style type="text/css">
    .multSelktrImg span{position: relative;top: 10px;vertical-align: middle;
    display: inline-flex;}
  .multSelktrImg input {vertical-align: -2px;}
  .multSelktrImg img {position: relative;height: 60px;margin: 2px 6px;top: -10px;}

  .user-panel > .image > img {
    max-width: 85%;
    margin-top:15px;
}
.skin-blue .main-header .navbar {
    background-color: #ffd777;
    border-bottom: 2px solid #c9aa5f;
}
.skin-blue .main-header .logo{
    background-color: #ffd777;
    border-bottom: 1px solid #c9aa5f;
    font-weight:bold;
    text-decoration: none;
}
.skin-blue .main-header .logo:hover{
    background-color: #c9aa5f;
    border-bottom: 1px solid #c9aa5f;
    font-weight:bold;
    text-decoration: none;

}
.wrapper .sidebar-menu > li.active > a {
    
    border-left-color: #ffd777;
}
.wrapper .sidebar-menu > li. > a  {
    border-left-color: #ffd777;
}

.wrapper .skin-blue .main-header li.user-header {
    background-color: silver;
}
  </style>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
  <header class="main-header">

    <strong><%=link_to "Yalla Notlob", root_path,class:"logo"%></strong>

    <nav class="navbar navbar-static-top">
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <% if user_signed_in? %>
          <li class="dropdown notifications-menu" data-behavior='notifications' >
            <a class="dropdown-toggle" data-toggle="dropdown" data-behavior='notification-link' id="dropdownMenu1">
              <i class="fa fa-bell-o"></i>
              <span class="label label-warning" data-behavior="unread-count"></span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">Notifications</li>
              <li>
                <ul class="menu" aria-labelledby="dropdownMenu1" data-behavior='notification-items'>
                  <!-- <li>
                    <a href="#">
                      <i class="fa fa-users text-aqua"></i> 5 new members joined today
                    </a>
                  </li>
 -->                </ul>
              </li>
              <li class="footer"><a href="notifications/show">View all</a></li>
            </ul>
          </li>
        <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= image_tag(current_user.avatar.url(:thumb), :class => "user-image") %>
              <span class="hidden-xs"><%= current_user.name %></span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <%= image_tag(current_user.avatar.url(:thumb), :class => "img-circle") %>
                <p>
                  <%= current_user.name %>
                </p>
                <li><%=link_to "Sign out", destroy_user_session_path,method: :delete, class: "btn btn-default btn-flat" %></li>
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
          <li>
            <%=link_to "Sign out", destroy_user_session_path,method: :delete %>
          </li>
          <% end %>
        </ul>
      </div>

    </nav>
  </header>






  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <%= image_tag("Picture1.png", :alt => "Logo") %>
        </div>
      </div>
      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>
        <li class="active treeview">
             <%=link_to " Home",root_path %> 
        </li>
        <li class="treeview">
            <%=link_to " Orders",orders_path %> 
        </li>
        <li class="treeview">
          <%= link_to " Friends",myfriends_path %>
        </li>
        <li class="treeview">
          <%=link_to " Groups", groups_path%>
        </li>
      </ul>
    </section>
  </aside>

  <div class="content-wrapper" style="min-height: 560px;">
    
    <section class="content">
      <div class="row">
        
        <% if user_signed_in? %> 

        <!-- ./col -->

        <!-- ./col -->
      

                  <% end -%>
      </div>

      <!-- Main row -->
      <div class="row" style="margin-top:40px;">
        <!-- Left col -->



          <%= bootstrap_flash %>
          <%= yield %>



          </div>
    </section>
  </div>

  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      Ruby On Rails 
    </div>
    <strong>Copyright &copy; OSAD</strong> Intake'36
  </footer>
  <div class="control-sidebar-bg"></div>
</div>

<script src="{{assetPath 'jQuery/jQuery-2.2.0.min.js'}}"></script>
<!-- Bootstrap 3.3.6 -->
<script src="{{assetPath 'fastclick.js'}}"></script>
<!-- AdminLTE App -->
<script src="{{assetPath 'app.min.js'}}"></script>
<!-- Sparkline -->
<script src="{{assetPath 'jquery.sparkline.min.js'}}"></script>
<!-- jvectormap -->
<script src="{{assetPath 'jquery-jvectormap-1.2.2.min.js'}}"></script>
<script src="{{assetPath 'jquery-jvectormap-world-mill-en.js'}}"></script>
<!-- SlimScroll 1.3.0 -->
<script src="{{assetPath 'jquery.slimscroll.min.js'}}"></script>
<script src="{{assetPath 'dashboard2.js'}}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{{assetPath 'demo.js'}}"></script>
</body>
</html>
